.messageContainer {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  margin-top: 3px;
}

.messageBox {
  background: #f3f3f3;
  border-radius: 10px;
  padding: 0 20px;
  margin: 0 0.3rem;
  height: fit-content;
}

.messageText {
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1.1em;
  word-wrap: break-word;
}

.sentMessage {
  width: fit-content;
  margin: 0 0.3rem;
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: content;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.white {
  color: white;
}

.black {
  color: #353535;
}

.backgroundBlue {
  background: #131836;
}

.backgroundLight {
  background: #f3f3f3;
}
