.inputContainer {
  flex: 1;
  height: 7vh;
  display: flex;
  border-top: 1px solid rgba(8, 11, 27, 0.39);
}

.input {
  border: none;
  flex: 1;
  font-size: 1.2em;
  padding: 0 2rem;
}

.inputButton {
  background-color: #90caf9;
  border-radius: 0;
  padding: 20px;
  width: 10rem;
  height: 7vh;
}
